.App {
  font-family:'Courier New', Courier, monospace;
  color:darkgrey;
}

.Header {
  margin: 3%;
  text-align: center;
  color: #584C47;
}

.coffee_name {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.text-center--header{
  padding: 5% 3% 0% 5%;
  text-transform: capitalize;
  text-emphasis: open;
}

.table-responsive-sm {
  background: rgba(247, 247, 247 ,0.8);
  box-shadow:inset;

}
th {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}